/* :root {
    --diego-blue: rgb(8, 0, 255);
    --diego-bg: rgb(246, 246, 243);
    --diego-black: rgb(37, 37, 46);
    --menu-height: .6em;
    --main-width: 84vw;
    --main-margin: 0 8vw;
    --col2: 33.87%;
    --col3: 67.9%;
    --colGap: calc(2% + 10px);

    --paragraphFontSize: 20px;
} */
#content {
    width: calc(var(--main-width)*102/100);
    margin: var(--main-margin);
    text-align: left;
    top: auto;
}
.project-box {
    /* width: calc( 33% * 100/102); */
    width:  calc(var(--main-width) * .328);
    height: calc(var(--main-width) * .328);
    display: inline-block;
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: .3s ease-in-out;

    margin-top: .4vw;
    margin-right: .8vw;
}
.project-box img{
    width: 100%;
    margin: 0;
    padding: 0;
    cursor: zoom-in;
    cursor: url("./img/magnify.png") 30 25,auto;

}

#category-bar {
    /* background-color: antiquewhite; */
    width: 98%;
    text-align: center;
    top: 6em;
    margin-bottom: 2.5em;
}
#category-bar a {
    margin-right: 2em;
    font-size: 1.7em;
    /* background-color: aqua; */
    cursor: pointer;
}
.category-active {
    color: var(--diego-blue);
    font-family: 'Calling-Bold';
    text-decoration: underline;
}
.hideBox {
    display: none;
}

@media screen and (orientation:portrait) and (max-width:1200px){
    .project-box {
        /* width: calc( 33% * 100/102); */
        width:  calc(var(--main-width) * .49);
        height: calc(var(--main-width) * .49);
        margin-top: .9vw;
        margin-bottom: 0;
        margin-right: 1.8vw;
    }
}