:root {
    --diego-blue: rgb(0, 66, 255);
    --diego-gray:rgb(161, 162, 164);
    --diego-bg: rgb(246, 246, 243);
    --diego-black: rgb(36, 36, 52);
    --menu-height: 2vw;
    --menuimg-ht: 1.4vw;
    --main-width: 96vw;
    --main-margin: 0 2vw;
    --col2: 29.6%;
    --col3: 63.55%;
    --colGap: calc(2% + 10px);
    
    --menuLeft1: 70%;
    --menuLeft2: 80%;
    --menuLeft3: 90%;
    
    
    --paragraphFontSize: 16px;

    --smallBreakpoint: 1200px;
}


/* DEV MODE ******************************************/
/* DEV MODE ******************************************/
/* DEV MODE ******************************************/
/* #name-container {
  background-color: rgba(0, 64, 255, 0.158);

}
#scroll-container {
  background-color: #ff9e9e33;
  border: red .2px solid;
}
#intro {
  background-color: rgba(255, 158, 249, 0.402);
  border: magenta .2px solid;
}
#channels {
  border: #00783e .5px solid;
}
.nameSVG {
  border: red .2px solid;
} */
/* DEV MODE ******************************************/
/* DEV MODE ******************************************/
/* DEV MODE ******************************************/



@font-face {
  font-family: "Calling";
  src: url("./fonts/CallingCards_Reg_sample.ttf");
}
@font-face {
  font-family: "Calling-Italic";
  src: url("./fonts/CallingCards_It_sample.ttf");
}
@font-face {
  font-family: "Calling-Bold";
  src: url("./fonts/CallingCards_Bold_sample.ttf");
}



html {
    font-family: "Calling", sans-serif, monospace;
    padding: 0;
    margin: 0;
    color: var(--diego-black);
    cursor: url("./img/crsr.png") 13 10,auto;
}

body {
  background-color: var(--diego-bg);
  text-align: center;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
#overlay-container {
  position: absolute;
  /* height: 100%; */
  width: var(--main-width);
  margin: var(--main-margin);
  z-index: 100;
}
#bottom-overlay-container {
  position:fixed;
  bottom: 0;
  left:0;
  height: 10vh;
  text-align: left;
  /* background-color: red; */
  width: var(--main-width);
  margin: var(--main-margin);
}

#name-container {
  /* background-color: #0cffff; */
  position: fixed;
  bottom: 48vh;
  font-size: 0;
  width: var(--main-width);
  padding: 0;
  margin: var(--main-margin);
  z-index: 10;
  aspect-ratio: 1/.1411;
  transition: transform 1s cubic-bezier(.77,0,.18,1) 80ms;
  /* transform: translateY(50vh); */
  white-space: nowrap;
  /* mix-blend-mode:difference; */
}


.menuimg {
  height: var(--menuimg-ht);
  /* background-color: rgb(17, 213, 213); */
  margin: 0;
  padding: 0;
  /* background-color: aqua; */
  pointer-events: all;
  vertical-align: middle;
}
.menuimg:hover {
  filter: brightness(15%) saturate(3%) invert(100%);
  filter: brightness(15%) saturate(3%);
  /* mix-blend-mode: difference; */
}
.menu div{
  color: var(--diego-blue);
  font-size: var(--menu-height);
  /* position: absolute; */
  /* outline: #F58529 1px solid; */
  vertical-align: top;
  height: 100%;
  width: fit-content;
  margin: 0;
  margin-left: 1vw;
  padding: 0;
  display: inline-block;
  text-decoration:  none;
  /* letter-spacing: .2em; */
  /* margin-right: 19vw; */
  transition: font-family 1s linear;
  cursor: pointer;
  cursor: url("./img/magnify.png") 30 25,auto;
}
.menu a{
  cursor: url("./img/magnify.png") 30 25,auto;
}
#m0{
  height: 100%;
  position: absolute;
  left: 0;  
  margin: 0;
  /* outline: #F58529 1px solid; */
}
.menu-subdiv {
  height: fit-content;
  width: fit-content;
  display: inline-block;
}
.menunameimg {
  width: 100%;
}
.menu-index div{
  position: absolute;
  margin-left: 0;
}
.menuimgindex{
  height: 3vh;
  z-index: 100;
  cursor: pointer;
  cursor: url("./img/magnify.png") 30 25,auto;

}
#m1-index{left: 0; margin-left:0}
#m2-index{left: 0; margin-left:var(--col2)}
#m3-index{left: 0; margin-left:var(--col3)}
#m4-index{right: 0;}
.menu-container {
  /* background-color: rgb(111, 255, 255); */
  position: fixed;
  font-size: 1.4em;
  width: inherit;
  margin: 0;
  height: var(--menu-height);
  text-align: right;

  z-index: 10;
  white-space: nowrap;
  transition: transform 1s ease-in-out 50ms;
}
#menu-container-high {
  top: 1.2em;
  pointer-events: none;
}
.menu-hidden {
  transform: translateY(-15vh);
}
#menu-container-low {
  bottom: 10vh;
  pointer-events: none;
  transform: translateY(0);
}
#menu-logo{
  height: calc(var(--menu-height)*1.3);
}
.menu-active{
  font-family: "Calling-Italic";
  /* font-weight: bolder; */
}
.italic {
  font-family: "Calling-Italic";
}
#scroll-container {
  width: 100%;
  height: 100vh;
  /* position: fixed;
  top:0;
  left:0; */
}
#intro {
  position: fixed;
  width: 100%;
  margin: auto;
  margin-top: 50vh;
  transform: translateY(3.6vw) translateX(-1.7vw);
  font-size: 1.4vw;
  opacity: 1;
  transition: opacity .5s ease-out;
}
#channels {
  position: fixed;
  /* transition: none; */
  transition: transform 1.5s ease-out;
  transform: translateY(115vh);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: none; 
  background-size: cover;
  background-position: center;
  z-index: 7;
  cursor: zoom-in;
  cursor: url("./img/magnify.png") 30 25,auto;

}
#channel1, #channel2 {
  position: fixed;

  display: block;
  /* transition: none; */
  /* transition: transform 1.5s ease-out;
  transform: translateY(115vh); */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--diego-bg); 
  background-image: none;
  background-size: cover;
  background-position: center;
  z-index: 8;
}
.hidden {
  display: none;
  visibility: hidden;
}
/* .firstchannel {
  display: block;
  transform: translateY(115vh);
} */

.topBuffer {
  height: 8em;
}
.bottomBuffer {
  height: 10vh;
}

.nameSVG {
  fill: var(--diego-blue);
  position: fixed;
  display: block;
  margin: 0;
  padding: 0;
  transition: transform .7s ease-in 50ms, margin .6s ease-in-out .6s;
  transform: translateY(52%);

  width: inherit;
}
#iOver{
  position: fixed;
  left: 0;
  margin: 0;
  padding: 0;
  height: 20%;
  aspect-ratio: 1;
  transform: translateX(234.3%) translateY(242%);
  transition: transform .7s ease-in 50ms, margin .6s ease-in-out .6s;
}
#tilde {
  width: 4%;
  margin-left: 42.25%;
}
#idot {
  transition: top 1.2s cubic-bezier(.39,-0.32,.67,1.31) .4s;;
  position: absolute;
  left: 8.34vw;
  top: 7.6vw;
  width: 1.6vw;
  height: 1.8vw;
  rotate: 0deg;
  background-color: rgb(0, 72, 255);
  background-color: rgb(60, 255, 0);
  /* background-image: url("./img/idot.jpg"); */
}

.transition {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  background-color: gray;
  background-image: url(./img/static.gif);
  object-fit:contain;
  z-index: 101;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: .2s ease-out;
}
.transition.is-active{
  opacity: 1;
  pointer-events: all;
}

.alignLeft {
  text-align: left;
}
.alignCenter {
  text-align: center;
}
.alignRight {
  text-align: right;
}


/* EXTRAS ******************************************/
/* EXTRAS ******************************************/
/* EXTRAS ******************************************/
/* EXTRAS ******************************************/
/* EXTRAS ******************************************/


#content a {
  cursor: url("./img/magnify.png") 30 25,auto;
}

#container {
  margin-top: 20vw;
  padding-top: 20vh;
  position: relative;
  /* background-color: rgba(0,00,255,.4); */
  
}
#logo-container {
  position: fixed;
  top: 0;
  width: 98%;
  /* background-color: #00fff280; */
  padding: 0;
  margin: 0;
  padding: 1%
}

#logo {
  width: 100%;
  padding: 0;
  margin: 0;
  fill: white;
}
/* #logo:hover {
  filter: invert(100%);
} */
.hoverPath {
  animation-duration: 2s;
  animation-delay: .5s;
}

.hoverPath:hover {
  fill: var(--diego-pink);
}
.text1, .text2 {
  color: white;
}
.text1 {
  font-size: 2em;
  font-weight: bold;
  /* text-decoration: none; */
  color: white;
  margin: .2em 0;
}
.text2 {
  font-size: 1.3em;
  font-weight: normal;
  /* text-decoration: none; */
  margin: 0;
  color: white;
}
.link:hover {
  color: black;
}
.span {
  margin: 0 1em;
}
.monogram {
  padding:4em;
}
.gapDiv{
  height: 5em;
}

.mobile-show {
  display: none;
  visibility: hidden;   
}
.difference {
  /* filter: brightness(0%) invert(100%); */
  /* mix-blend-mode: difference; */
}
.white-filter {
  /* filter: brightness(0%) invert(100%); */
  /* filter: invert(100%); */
  /* filter: brightness(200%) invert(100%); */
}

#slides-container {
  position: fixed;
  left: 0;
  top: 10vh;
  height: 100vh;
  width: 100vw;

}

/* FOR SMALL SCREENS */
@media (orientation:portrait) and (max-width:1200px){
  :root {
    --menu-height: 0.8em;
    --main-width: 92vw;
    --main-margin: 0 4vw;
    --col2: 30vw;
    --col3: 59vw;
    
    --menu-height: 9vw;
    --menuimg-ht: 5.4vw;
    
    --paragraphFontSize: 34px;
  }
  #mob-menu-logo {
    /* background-color: yellow; */

    position: fixed;
    top: .65em;

    height: var(--menu-height);

    z-index: 10;
    white-space: nowrap;
    transition: transform 1s ease-in-out 50ms;
  }
  #mob-menu-logo img{
    cursor: pointer;
    cursor: url("./img/magnify.png") 30 25,auto;
    height: 10vw;
  }
  .not-index-scroll {
    position: absolute;
  }


  .menu-container {
    margin-top: 1em;
    text-align: right;
    /* background-color: rgba(0, 255, 47, 0.488); */
  }
  #menu-container-high {
    height: auto;
  }
  #m1-index{left: 0; margin-left:0}
  #m2-index{left: 0; margin-left:var(--col2)}
  #m3-index{left: 0; margin-left:var(--col3)}
  #m4-index{right: 0;}
  .menu-index div{
    margin-left: 0;
  }
  
  .menuimgindex{
    height: 6vw;
  }


  .menu div{
    margin-left: 3vw;
  }
  .menuimg {
    /* background-color: red; */
  }
  
  .mobile-show {
    display: block;
    visibility: visible;  
  }
  .mobile-hidden {
    display: none;
    visibility: hidden;   
  }

  .topBuffer {
    height: 20vh;
  }


  #name-container {
    /* margin-bottom: 8vh; */
  }
  

  #slides-container {
    position: fixed;
    left: 0;
    top: 130px;
  }
}