:root {
    --main-color: rgb(252, 101, 113);
    --blue-color: #2294c2;
    --blue-color-tr: rgba(0, 173, 241, 0.75);
    --lightblue-color: #8fefff;
    --pink-color: rgb(255, 144, 159);
    --scarlet-color: rgb(158, 16, 71);
    --gray-color: rgb(198, 204, 204);
    --wrapper-width: 1000px;
    --main-col-width: auto;
    --sidebar-width: 140px;    
    --top-bar-heigth: 80px;
    --project-dim: 300px;
    --font1: 40px;
    --font2: 36px;
    --font3: 24px;
    --font4: 10px;
}
  
.tealColor {
    color: var(--teal-color);
}
.greenColor {
    color: var(--green-color);
}
.redColor {
    color: var(--red-color);
}
.scarletColor {
    color: var(--scarlet-color);
}
.grayColor {
    color: var(--gray-color);
}


body,p,h1,h2,h3,h4,h5,h6 {font-family: 'Work Sans', serif; font-weight: 400;} /* change to sans-serif when readt */
.extra-light{font-weight: 200;}
.light{font-weight: 300;}
.regular{font-weight: 400;}
.medium{font-weight: 500;}
.semi-bold {font-weight: 600;}
.bold{font-weight: 700;}
.extra-bold{font-weight: 800;}
.black{font-weight: 900;}
.font1{font-size: var(--font1);}
.font2{font-size: var(--font2);}
.font3{font-size: var(--font3);}
.font4{font-size: var(--font4);}
h1 {
    font-weight: 500;
    font-size: var(--font2);
}
img {
    max-width: 100%;
}
body {
    padding: 50px;
}
/* borders */
/* #main-wrapper {
    border: blue 2px solid;
}
#main-column {background-color: rgba(136, 255, 0, 0.404);}
#sidebar {
    background-color: rgba(0, 238, 255, 0.404);
}
#side-column {
    border: orange 2px solid;
    background-color: rgba(255, 0, 0, .7);
}
#text-box, #pic-box {
    border: red 1px dashed;
}
#top-bar {
    background-color: rgba(0, 238, 255, 0.404);
} */
/* borders */
a {
    color: var(--blue-color);
    text-decoration: none;
}

    /* margin-top: 100px; */a:hover {text-decoration: underline; cursor:pointer;}


#top {position: absolute;top: 0;z-index: 0;}

html {
    background-color: rgb(255, 255, 255);
}
.bg-color {
    background-color: var(--blue-color);
}
#main-wrapper {
    text-align: center;
    margin: auto;
    max-width: var(--wrapper-width);
    padding: 20px;
}
#side-columnX, #main-column {
    display: block;
    text-align: center;
    margin: 0;
}
#side-column {
    text-align: center;
    margin: 0;
    margin-right: 20px;
    width: var(--sidebar-width);
    height: 400px;
    position: fixed;
    top: 0;
    right: 0;
    vertical-align: top;
    z-index: 10;
}
#main-column, #sticky-bar {
    max-width: var(--main-col-width);
}
#sticky-bar {
    z-index: 5;
    /* position: sticky;
    top: 0; */
    margin-top: 100px;
    width: 100%;
    /* background-color: white; */
    height: 100px;
}
#sidebar {
    /* position: fixed; */
    width: var(--sidebar-width);
    /* top: 0; */
    margin-top: 80px;
    text-align: left;
    z-index: 9;
}
.sidebar-item {
    font-size: 22px;
    display: block;
    text-decoration: none;
    color: rgb(51, 51, 51);
    height: 35px;
    mix-blend-mode:difference;

}

.sidebar-item:hover {
    text-decoration: underline;
    cursor: pointer;
    color: var(--blue-color);
    transition: .3s ease;
    font-size: 24px;
}
#text-box, #pic-box {
    display: inline-block;
    width: 48.4%;
    vertical-align: top;
}
#text-box {margin-top: 50px; width: 40%; padding-right: 50px;}
#pic-box {margin-top: -57px;}
#gradient {
    background-image: linear-gradient(rgba(255, 255, 255, 1),rgba(255, 255, 255, .9),rgba(255, 255, 255, .66),rgba(255, 255, 255, .33), rgba(255, 255, 255, 0));
    /* background-color: red; */
    z-index: 5;
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;

}
#top-bar {
    position: fixed;
    width: var(--wrapper-width);
    top: 0;
    margin: auto;
    height: var(--top-bar-heigth);
    text-align: left;
    font-size: var(--font1);
    /* vertical-align: bottom; */
    /* line-height: 1; */
    padding-left: 10px;
    padding-top: 30px;
    z-index: 10;
}
#text-box {
    text-align: left;
    font-size: var(--font3);
}
#avatar {
    width: 480px;
    border-radius: 10000px;
}
#name {
    z-index: 9;
    transition: .2s ease-out;
}
.name{
    z-index: 9;
    text-decoration: none;
    color: black;
}
.name:hover {
    /* font-size: 50px;
    font-weight: 600; */
    transition: .3s ease;
    /* color: var(--blue-color); */
}
#Dface {
    z-index: 9;
    display: inline-block;
    transition: .2s ease;

}
.Dletter {    
    transform: rotate(0deg);
}
.Dface {
    transform: rotate(90deg);
    font-size: 60px;
}
#Dface:hover {
    transform: rotate(0deg);
}
.home-link {
    font-weight: 600;
    color: var(--lightblue-color);
    text-decoration: none;
}
.home-link:hover {
    transition: .2s ease;
    text-decoration: underline;
}
.white {color: white;}

#project-wrapper {
    text-align: center;
    margin-top: -125px;
    width: 1200px;
    margin: auto;
}
.project-container {
    display: inline-block;
    position: relative;
    height: var(--project-dim);
    width: var(--project-dim);
    /* overflow: hidden; */
    margin: 15px;
    /* border: pink 2px solid; */
    background-color: rgb(216, 216, 216);
}
.project-img {
    position: absolute;
    width: var(--project-dim);
    height: var(--project-dim);
    display: block;
    /* clip: rect(0,200px,500px,200px); */
    object-fit: cover;
}
.project-overlay {
    position: absolute;
    transition: all .3s ease;
    opacity: 0;
    z-index: 2;
    width: var(--project-dim);
    height: var(--project-dim); 
    background-color: var(--blue-color-tr);
    /* vertical-align: middle; */
}
.project-text {
    margin-top: 128px;
    color: white;
    font-size: var(--font2);
    font-weight: 500;
    padding: 0 20px;
}
.line2 {margin-top: 106px;}
.line3 {margin-top: 84px;}

.overlayTop {
    width: 100%;
    height: 0;
    top: 0;
}

.project-container:hover .project-overlay {
    opacity: 1;
    height: 100%;
}
#footer {
    text-align: center;
    margin-top: 75px;
    height: 80px;
    /* background-color: rgb(212, 115, 115); */
}
.footer-item {
    text-decoration: none;
    color: black;
    line-height: 0em;
    font-size: var(--font3);
    font-weight: 500;
    color: rgba(0,0,0,.6);
}
.footer-item:hover {
    text-decoration: underline;
    color: rgba(0,0,0,.9);
}
#email {
    color: var(--blue-color);
    font-weight: 600;
}
#back2projects {
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 7%;
    padding-bottom: 100px;
    text-decoration: none;
}