.project-content .u-centerText {
    text-align: center;
}
.u-centerText {
    text-align: center;
}
.u-circleFrame {
    border-radius: 50%;
}
.pointer:hover{
    cursor: pointer;
}
.pTitle{
    font-stretch: 82%;
}

.imgRow2, .imgRow3, .imgRow4, .imgRow5 {
    margin: auto;
}
.imgRow1 img {
    width: 98%;
    margin: 2% 1%;
    display: block;
    /* vertical-align: top; */
}
.imgRow2 img {
    width: 48%;
    margin: 0 1%;
    display: inline-block;
    vertical-align: top;
}
.imgRow2border img {
    width: 47%;
    margin: 0 1%;
    display: inline-block;
    vertical-align: top;
}
.imgRow3 img {
    width: 31%;
    margin: 0 1%;
    display: inline-block;
    vertical-align: top;
}
.imgRow4 img {
    width: 25%;
    display: inline-block;
    vertical-align: top;
}
.imgPad1 {
    padding: 0 20% 0 20%;
}
strong {
    font-weight: 600;
}
.u-imgOutline {
    border: rgb(200, 200, 200) 1px solid;
}

/* FOR SMALL SCREENS */
@media screen and (max-width:1024px){


    .imgRow2, .imgRow3, .imgRow4, .imgRow5 img{
        margin: inherit 0;
        /* width: 100%; */
    }
    .imgRow1 img {
        width: 100%;
        margin: 2% 1%;
    }
    .imgRow2 img {
        width: 50%;
    }
    .imgRow3 img {
        width: 33.3333%;
        margin: 0 1%;
    }
    .imgRow4 img {
        width: 25%;
    }
	/* HORIZONTAL SMALL SCREEN */
    @media (orientation: landscape) {
        
      }
}
